* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.sidebar {
    width: 301px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #e0e0e0;
    padding-top: 15px;
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(-100%); 
}

.sidebar a hr {
    border: 1px #cccccc solid;
}

.sidebar img {
    width: 150px;
    height: 55px;
    margin-left: 25px;
    margin-bottom: 0;
}

.sidebar hr {
    width: 88%;
    border: 1px solid #cccccc;
    margin: 0 auto;
    margin-top: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar ul li {
    padding: 10px 20px;
    margin: 5px 10px;
}

.sidebar ul li i {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: gray;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #f1f1f1;
}

.content {
    margin-left: 300px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.content.full-width {
    margin-left: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: -3px;
    position: fixed;
    width: calc(100% - 300px);
    top: 0;
    left: 300px;
    z-index: 1000;
    transition: left 0.3s ease, width 0.3s ease;
}

.header.full-width {
    left: 0;
    width: 100%;
}

.bell {
    margin-right: 15px;
    height: 30px;
    width: 50px;
    border: 1px gray solid;
    border-radius: 50%;
    text-align: center;
    align-content: center;
}

.header .menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info img {
    border-radius: 50%;
    margin-right: -3px;
}

.header .user-info a span {
    font-size: 14px;
    margin-right: 20px;
    line-height: 1;
}

/* .abc i {
    color: green;
} */

.main-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.judul h2 {
    margin-top: 50px;
}

.main-content h2 {
    margin-top: 0;
}

.title {
    display: flex;
    justify-content: space-between;
}

.main-content .actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.main-content .actions button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.main-content .actions .btn-add {
    color: #28a745;
    border: 1px solid #28a745;
    background-color: #fff;
}

.main-content .actions .btn-export {
    color: #007bff;
    border: 1px solid #007bff;
    background-color: #fff;
}

.main-content .actions .btn-import {
    color: #dc3545;
    border: 1px solid #dc3545;
    background-color: #fff;
}

.main-content table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    table-layout: fixed;
}

.main-content table th,
.main-content table td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-left: none;
    border-right: none;
    text-align: left;
}

.main-content table th i {
    font-size: 15px;
    color: gray;
}

/* .main-content table th:nth-child(5),
.main-content table td:nth-child(5) {
    width: 130px;
} */

.main-content table th {
    background-color: #f8f9fa;
}

/* .main-content table td .btn-edit {
    background-color: #17a2b8;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */
/* 
.main-content table td .btn-delete {
    background-color: #dc3545;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

.pagination {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: gray;
}

.menu div {
    width: 10px;
    height: 10px;
    border: 1px gray solid;
}

.set {
    margin-left: 125px;
}

.judul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
